.footer__navigation {
    max-width: 1184px;
    min-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 48px 24px 48px;
}

@media screen and (max-width: 1279px) {
    .footer__navigation {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer__navigation {
        max-width: 720px;
        margin: 0 24px 24px 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer__navigation {
        flex-direction: column;
        max-width: 186px;
        margin: 0 118px 24px 16px;
    }
}